################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TennisMatch/TennisMatch/obj/Debug
/TennisMatch/.vs/TennisMatch/v16
/TennisMatch/TennisMatch/bin/Debug
/TennisMatch/TennisMatchTest/bin/Debug/net472
/TennisMatch/TennisMatchTest/obj
